

/*Navbar on the top*/
.navigation {
  margin-top: 10px;
  background-color : white;
  /*border-radius : 3px;*/
  border-bottom: 1px solid gray;
  margin-bottom: 1%;
}

.target{
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/*parent container for companies list*/
.companies{
  margin-bottom: 3%;
}

.legendstyle{
  margin-left:2%;
  display: flex;
  align-items: center;
}

.editdeletebuttons{
  float: right;
  margin-left: 1%;
}

.edit-contact-input{
  border-radius: 4px;
  font-size: 16px;
}

/*Display information*/
.info {
  padding-top: 5%;

}
.data {
  padding-left: 3%;

}
.insiten{
  margin-top: 30px;
  /*background-color: red;*/
  height: 350px;

}
.edit-financial-input{
  max-width: 60px;
  border-radius: 4px;
}

/*Header on top of all the companies*/
.header{
  margin-top: 3px;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4em;
  border-bottom: 1px solid lightgray;
  padding-left: 3px;
  margin-bottom: 12px;
}
.addcontactsbutton{
  margin-left: 30px;
  border-radius: 100px;
  background-color: white;
}

.btn{
  padding: 3px 14px;
}

.companyaddbutton{
  visibility:hidden;
}

@media (max-width : 992px) {
  .companyaddbutton{
    visibility:visible;
  }
  .companiesaddbutton{
    visibility: hidden;
  }
}

@media (max-width : 481px) {
  .phone-symbol{
    visibility:hidden;
  }
}
