<div class="form-horizontal">
  <fieldset>
    <legend>Edit {{editCompany.name}}</legend>
      <!-- Inputting Name -->
      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Name:</label>
        <div class="col-lg-10 col-md-10">
        <input type="text" ng-model="editCompany.name" class="form-control">
        </div>
      </div>
      <!-- Inputting Category -->
      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Category:</label>
        <div class="col-lg-10 col-md-10">
        <input type="text" ng-model="editCompany.category" class="form-control">
        </div>
      </div>
      <!-- Inputting Select Status -->
      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Status:</label>
        <div class="col-lg-10 col-md-10">
          <select class="form-control" ng-selected="editCompany.status" ng-model="editCompany.status">
            <option value="researching">researching</option>
            <option value="pending">pending</option>
            <option value="approved">approved</option>
            <option value="denied">denied</option>
          </select>
        </div>
      </div>
      <!-- Inputting Contact Info -->
      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Contacts:</label>
        <div class="col-lg-10 col-md-10">
        <input type="text" ng-repeat="contact in editCompany.contacts" ng-model="contact" class="form-control">
        </div>
      </div>
      <!-- Inputting Comments -->
      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Comments:</label>
        <div class="col-lg-10 col-md-10">
        <textarea type="text" ng-model="editCompany.comments" class="form-control"> </textarea>
        </div>
      </div>
  </fieldset>
</div>
