


/*Navbar on the top*/
.navigation {
  background-color : white;
  /*border-radius : 3px;*/
  border-bottom: 1px solid gray;
}

/*parent container for companies list*/
.companies{
  margin-bottom: 3%;
}

.legendstyle{
  margin-left:2%;
  display: flex;
  align-items: center;
}

.editdeletebuttons{
  float: right;
  margin-left: 1%;
}


/*Display information*/
.info {
  padding-top: 5%;

}
.data {
  padding-left: 3%;

}

/*Header on top of all the companies*/
.header{
  margin-top: 3px;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4em;
  border-bottom: 1px solid lightgray;
  padding-left: 3px;
  margin-bottom: 12px;
}
