
<div class="container navigation">
    <h4 style = "float:left;">Acquisition Targets</h4><span></span>
    <!-- <button ui-sref="addcompany()" style = "margin-top: 5px;" type="button" class="btn btn-warning">Add Company</button> -->
</div>

<div class="" style="margin-top: 15px;"></div>

<div class="container">
  <div class="row">
    <!-- List of companies Div -->
    <div class="col-md-2 companies">
      <div class="header">
        <span>Companies</span>
      </div>
      <div class="">
        <ul class="list-group">
          <li ng-repeat="company in companies | orderBy: 'name'" class="list-group-item" ui-sref="companies.company({name:company.name})" ui-sref-active="active">{{company.name}}</li>
        </ul>
      </div>
      <div class="">
        <button ui-sref="addcompany()" style = "margin-top: 5px;" type="button" class="btn btn-success btn-sm">Add Company</button>
      </div>
    </div>
    <!-- Company Detail Div -->
    <div class="col-md-10 company" style="">
      <div class="company-detail">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>
