<div class="">
  <legend class="legendstyle">
    <span ng-if="companyInfo">{{companyInfo.name}}</span>

    <button ng-click="delete(companyInfo.name)" class="btn btn-danger btn-sm editdeletebuttons"><span class="glyphicon glyphicon-remove"></span>Delete</button>

    <button  ui-sref="companies.editadd({name:companyInfo.name})" class="btn btn-primary btn-sm editdeletebuttons"><span class="glyphicon glyphicon-edit"></span>Edit</button>

    <!-- <button  ui-sref="companies.editadd({name:'AddNew'})" class="btn btn-primary btn-sm editdeletebuttons"><span class="glyphicon glyphicon-edit"></span>Add</button> -->


  </legend>
  <!-- Company Information -->
  <div class="row">
    <div class="col-md-7">
      <table>
        <tr>
          <td align="right">Category:</td>
          <td class="data">{{companyInfo.category}}</td>
        </tr>
        <!-- Status -->
        <tr>
          <td align="right" class="info">Status:</td>
          <td class="info data">{{companyInfo.status}}</td>
        </tr>
        <!-- Contact Info -->
        <tr>
          <td align="right" class="info">Contacts:</td>
          <td class="data info">{{companyInfo.contacts[0].name}}, &nbsp  <i class="fa fa-phone" aria-hidden="true"></i> {{companyInfo.contacts[0].phone}}</td>
        </tr>

        <tr ng-repeat="contact in companyInfo.contacts.slice(1,companyInfo.contacts.length) ">
          <td></td>
          <td class="data">{{contact.name}},&nbsp  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp{{contact.phone}}</td>
        </tr>
        <!-- Comments -->
        <tr>
          <td valign="top" class="info">Comments:</td>
          <td class="info data">{{companyInfo.comments}}</td>
        </tr>
      </table>
    </div>
    <!-- Displays the D3 Chart. -->
    <div class="col-md-5">
      <div class="chart">
        <nvd3 options="companyInfo.options" data="companyInfo.performance"></nvd3>
      </div>
    </div>
  </div>
</div>

<div class="editcompany">
  <ui-view></ui-view>
</div>
